{% extends template %}
{% load static %}
{% block content %}

{% if products %}
    <div class="text-center py-3">
        <h1 class="mb-4">Backpack</h1>
    </div>
{% else %}
    <div class="text-center py-3">
        <h1 class="mb-4">Your Backpack is Empty :C</h1>
    </div>
{% endif %}

{% if template == "baseCustomer.html" %}
    <form action="{% url 'delFromCart' %}" method="POST">
{% else %}
    <form action="{% url 'delFromCartUnauth' %}" method="POST">
{% endif %}
    {% csrf_token %}
    {% for product in products %}
        {% for object in product %}
        <div class="container-fluid pt-1" id="d{{object.atrId}}">
            <div class="container">
                <div class="text-center pb-3">
                    <div class="card border-1 bg-light shadows pb-1 align-items-center team">
                        <img class="card-img-top mb-2" src="{% static 'media/' %}{{object.image}}" style="width: 120px; height: 120px; padding-top: 10px;" alt="">
                        <div class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                            <a class="btn btn-outline-light text-center mr-2" style="width: 55px; height: 55px;"
                            href="min{{object.atrId}}"><img src="{% static 'icons/menos.png' %}" style="width: 25px; height: 25px; margin-top: 7px; margin-left: 1px;" alt=""></a>
                            <button class="btn btn-outline-light text-center mr-2" style="width: 55px; height: 55px;"
                            id="b{{object.atrId}}"><img id="b{{object.atrId}}" src="{% static 'icons/eliminar.png' %}" style="width: 25px; height: 25px; margin-left: 0px;" alt=""></button>
                            <a class="btn btn-outline-light text-center mr-2" style="width: 55px; height: 55px;"
                            id="plus{{object.atrId}}"><img id="plus{{object.atrId}}" src="{% static 'icons/anadir.png' %}" style="width: 25px; height: 25px; margin-top: 7px; margin-left: 1px;" alt=""></a>
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title">{{object.name}}</h4>
                            <i class="card-text" id="quan{{object.atrId}}">1 x</i>
                            <i class="card-text" id="pr{{object.atrId}}">${{object.price}}</i>
                            <i class="card-text" id="sum{{object.atrId}}"><b>= ${{object.price}}</b></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endfor %}
    {% if products %}
    <div class="container-fluid pt-1" id="d{{object.atrId}}">
        <div class="container">
            <div class="text-center pb-3">
                <h4 class="py-2" id="total">Total: $ 0.00</h4>
                <a class="btn btn-danger" id="l">Check Purchase</a>
            </div>
        </div>
    </div>
{% endif %}

{% if template == "baseCustomer.html" %}
    <input type="hidden" value="1" id="boolUser">
{% else %}
    <input type="hidden" value="0" id="boolUser">
{% endif %}

</form>

{% endblock %}