{% extends 'baseAdmin.html' %}
{% load static %}
{% block content %}
<section id="usersList">
    <div class="text-center pb-2 py-3">
        <h4 class="section-title px-5"><span class="px-4">Users</span></h4>
    </div>

    <div class="text-center pb-2">
        <a id="btnAddUser" type="submit" class="btn btn-primary" href="#alter-users">Add User</a>
        <a id="btnModifyUser" type="submit" class="btn btn-primary" href="#alter-users">Modify User</a>
        <a id="btnDeleteUser" type="submit" class="btn btn-primary">Delete User</a>
    </div>
    
    <div class="container-fluid pt-2" style="width: 100%; margin-bottom: 20px;">
        
        <table id="dtUsers" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Birth Date</th>
                    <th>Role</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for object in users %}
                    <tr>
                        <td>{{object.atrId}}</td>
                        <td>{{object.name}}</td>
                        <td>{{object.lastName}}</td>
                        <td>{{object.email}}</td>
                        <td>{{object.phone}}</td>
                        <td>{{object.birthDate}}</td>
                        <td>{{object.role.role}}</td>
                        <td>{{object.status.status}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<section id="alter-users" class="hidden"> 
    <div class="centerDiv" style="background-color: #b0d7ff">
        <div class="classDiv2">
            <h3 class="text-primary mb-4 tittles" style="padding-top: 20px;" id="formTittle"></h3>
                <form action="{% url 'registerUser' %}" method="POST" id="addUserForm">
                    {% csrf_token %}
                    <div class="form-group inputForm mb-4">
                        <div class="input-group">
                            <span class="input-group-text">Name</span>
                            <input type="text" name="name" id="name" class="form-control">
                        </div>
                    </div>
    
                    <div class="form-group inputForm mb-4">
                        <div class="input-group">
                            <span class="input-group-text">Last Name</span>
                            <input type="text" name="lastName" id="lastName" class="form-control">
                        </div>
                    </div>

                    <div class="form-group inputForm mb-4">
                        <div class="input-group">
                            <span class="input-group-text">Email</span>
                            <input type="text" name="email" id="email" class="form-control">
                        </div>
                    </div>
    
                    <div class="form-group inputForm mb-4">
                        <div class="input-group">
                            <span class="input-group-text">Phone</span>
                            <input type="text" name="phone" id="phone" class="form-control">
                        </div>
                    </div>

                    <div class="form-group inputForm mb-4">
                        <div class="input-group">
                            <span class="input-group-text">Birth Date</span>
                            <input type="date" name="birthDate" id="birthDate" class="form-control">
                        </div>
                    </div>

                    <div class="form-group inputForm mb-4">
                        <div class="input-group">
                            <span class="input-group-text">Password</span>
                            <input type="text" name="password" id="password" class="form-control">
                        </div>
                    </div>
    
                    <div class="form-group inputForm mb-4">
                        <div class="input-group">
                            <span class="input-group-text">Role</span>
                            <select id="role" name="role" class="form-control">
                                {% for object in roles %}
                                <option value="{{object.atrId}}" id="{{object.role}}">{{object.role}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group inputForm mb-4">
                        <div class="input-group">
                            <span class="input-group-text">Status</span>
                            <select id="status" name="status" class="form-control">
                                {% for object in status %}
                                <option value="{{object.atrId}}" id="{{object.status}}">{{object.status}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div>
                        <button class="btn btn-primary border-0 py-3 btnForm" type="submit" id="btnSendUser">Submit</button>
                    </div>
                </form>
        </div>
    </div>
    
    </section>
    
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/userScripts.js' %}?1.1"></script>
{% endblock scripts %}